<!doctype html><html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Perfectly Normal Design Studios</title>
        <meta name="description" content="A product design research and development lab." />
        <style>
            html{font-size: 12pt; text-align: center; font-family: sans-serif;}
            body{margin: 25vh 0;}
           h1,h2{font-family: serif; font-weight: normal; line-height: 1.2;}
               a{color: inherit;}
         a:hover{text-decoration: none;}
        </style>
    </head>
    <body>
        <h1 style="font-size: 150%;">पर्फेक्ट्ली नॉर्मल् डिझाइन् स्टुडियोज्</h1>
        <h2 style="font-size: 166%;">Perfectly Normal Design Studios</h2>
        <p style="font-size: 90%;">A product design research and development lab</p>
        <pre style="font-size: 80%;"><a href="mailto:akshay@perfectlynormal.design">akshay@perfectlynormal.design</a></pre>
        <pre style="font-size: 70%;">UDYAM-MH-34-0048459</pre>
    </body>
</html>